<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- Allows to use the annotations used for Spring -->
	<context:annotation-config/>
	<!-- Scans the components from the path we specify in search of beans and annotations in those beans -->
	<context:component-scan base-package="com.movieAPIs"></context:component-scan>
	
	<!-- dataSource is needed to create the connections, instantiate a connection object -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/moviesdb"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123123"></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<!-- <property name="packagesToScan" value="com.movieAPIs"/> -->
		<property name="hibernateProperties">
			<props>
				<prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>
			</props>
		
		</property>
	</bean>
	
	
	
	<bean id="CreatorsHibServiceImpl" class="com.movieAPIs.services.CreatorsHibServiceImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
		

</beans>
